<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <link rel="stylesheet" href="../public/css/contigua.css">

  <title>Alocação Contigua</title>

  <link rel="icon" href="img/logo.png">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a href="/"><button class="btn btn-dark my-2 my-sm-0 ml-2 mr-2" type="text">Pagina Inicial</button></a>
    <form class="form-inline">
      
      <button class="btn btn-outline-dark my-2 my-sm-0 ml-2 mr-2" type="text">Indexada</button>
      <button class="btn btn-outline-dark my-2 my-sm-0 active ml-2 mr-2" type="text">Contigua</button>
      <button class="btn btn-outline-dark my-2 my-sm-0 ml-2 mr-2" type="text">Encadeada</button>
    </form>
  </nav>



  <h1>Alocacao Contígua</h1>

    
  <div class="jumbotron">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
    <h1 class="display-4" style="margin-bottom: 40px;">Gerir Arquivos</h1>
    <p class="lead"><label for="ac_criar">Criar um novo disco de memória</label>
      <input type="number" name="ac_criar" placeholder="tamanho do disco"  value="32" id="valor" ></input>
      <button type="submit" class="btn btn-primary" id="ac_criar_button""> Enviar</button>
      <br>
      <label for="ac_alocacaoContigua">Criar um novo arquivo</label>
      <input type="number" name="ac_alocacaoContigua" placeholder="tamanho do arquivo" value="0"></input>
      <button type="submit" class="btn btn-primary" id="ac_alocacaoContigua_button""> Enviar</button>
      <br>
    <label for="ac_deletarArquivo">Deletar um arquivo</label>
      <input type="number" name="ac_deletarArquivo" placeholder="nome do arquivo" value="0"></input>
      <button type="submit" class="btn btn-primary" id="ac_deletarArquivo_button""> Enviar</button>.</p>
    <hr class="my-4">
    <p> <div class="alert alert-danger d-md-block " id="caixaDeErro" ></div></p>

    <table class="table table-hover col-sm-6" style="margin: 0 auto ;" id="ac-tabela">
      <thead>
        <tr>
          <th scope="col">Bloco da memória#️⃣</th>
          <th scope="col">Arquivo📁 </th>
          <th scope="col">Deletar🗑️</th>
        </tr>
      </thead>
      <tbody id="ac-tbody">
      </tbody>
    </table>
    </div>
    </div>

  
  </div>
  </div>

    
  
  



 
  

  



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="/js/alocacaoContigua.js"></script>

</body>

</html>