<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <!-- Estilo customizado -->
  <link rel="stylesheet" type="text/css" href="css/index.css">

  <title>Simulador de Alocação de Arquivos</title>

  <!-- Icone da Pagina -->
  <link rel="icon" href="img/logo.png">



</head>

<body>
  <!--' HEADER/NAVBAR' -->
  <header>
    <!-- inicio Cabecalho -->
    <!-- Começo Nav -->
    <nav class="navbar navbar-expand-sm navbar-light fundo-navbar">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img src="img/arquivos.png" width="80">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#contigua" class="nav-link"><span class="cor-texto">Contigua</span></a>
            </li>
            <li class="nav-item">
              <a href="#encadeada" class="nav-link"><span class="cor-texto">Encadeada</span></a>
            </li>
            <li class="nav-item">
              <a href="#indexada" class="nav-link"><span class="cor-texto">Indexada</span></a>
            </li>
            <li class="nav-item">
              <a href="#sobre" class="btn btn-outline-dark ml-4">Sobre</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fim Nav -->
  </header>
  <!--/fim Cabecalho -->
  <!-- ' SEÇÃO PRINCIPAL ' -->
  <section id="home">
    <!-- Início seção home -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <!-- Textos da seção -->
          <div class="align-self-center">
            <h1 class="display-4" id="display">Simulador Alocação de Arquivos
            </h1>
            <p>
              Simula o modo como as infomações são armazenadas nos dispositivos físicos de armazenamento
            </p>
            <p>Disponível para
              <a href="" class="btn btn-outline-dark">
                <i class="fab fa-android fa-lg"></i>
              </a>
              <a href="" class="btn btn-outline-dark">
                <i class="fab fa-apple"></i>
              </a>
            </p>
          </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <img src="img/gaveta-arquivos.png">
        </div>
      </div>
    </div>
  </section>
  <!--/fim seção home -->

  <!-- 'ALOCAÇÃO CONTÍGUA' -->
  <!-- Section começo -->
  <section class="caixa" id="bloco-contigua">
    <div class="container" id="contigua">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h2>Alocação Contigua</h2>
            <p>Usado por mais de 1 milhão de pessoas, o Finans é uma ferramenta online que vai facilitar sua vida
              financeira.</p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseContigua" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Veja mais
            </a>
            <div class="card collapse mt-4 animacao-card" id="collapseContigua">
              <div class="card-header">
                Alocação Contigua
              </div>
              <div class="card-body">
                <h5 class="card-title">Sobre</h5>
                <p class="card-text">Armazena um arquivo de forma sequencial em blocos, assim um arquivo utiliza um
                  endereço para poder se localizar através do endereõ do primerio bloco.</p>
                <button type="button" class="btn btn-primary">Simulador</button>

                


              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="img/df.png" class="img-fluid animacao-img">
        </div>
      </div>
    </div>
  </section>
  <!-- Section Fim -->
  <!-- Fim ALOCAÇÃO CONTIGUA -->

  <!--' ALOCAÇÃO ENCADEADA' -->
  <!-- Section Comeco -->
  <section class="caixa" id="bloco-encadeada">
    <div class="container" id="encadeada">
      <div class="row">
        <div class="col-md-6 d-flex order-2">
          <div class="align-self-center">
            <h2>Alocação Encadeada</h2>
            <p>Alocação encadeada consiste em manter os arquivos, cada um, como uma lista encadeada de blocos</p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseEncadeada" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Veja mais
            </a>
            <div class="card collapse mt-4 animacao-card" id="collapseEncadeada">
              <div class="card-header">
                Alocação Encadeada
              </div>
              <div class="card-body">
                <h5 class="card-title">Sobre</h5>
                <p class="card-text">Os arquivos são organizados em um conjunto de blocos. A primeira palavra de cada
                  bloco é usado como ponteiro para o proximo bloco a outra parte do bloco é usada para dados</p>
                <a href="#" class="btn btn-primary">Simulador</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-1">
          <img src="img/fila-encadeada.png" class="img-fluid animacao-img">
        </div>
      </div>
    </div>
  </section>
  <!-- Section Fim -->
  <!-- Fim ALOCAÇÃO ENCADEADA -->

  <!-- ' ALOCAÇÃO INDEXADA' -->
  <!-- Section Comeco -->
  <section class="caixa" id="bloco-indexada">
    <div class="container" id="indexada">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h2>Alocação Indexada</h2>
            <p>Usado por mais de 1 milhão de pessoas, o Finans é uma ferramenta online que vai facilitar sua vida
              financeira.</p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseIndexada" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Veja mais
            </a>
            <div class="card collapse mt-4 animacao-card" id="collapseIndexada">
              <div class="card-header">
                Alocação Indexada
              </div>
              <div class="card-body">
                <h5 class="card-title">Sobre</h5>
                <p class="card-text">Os ponteiros de todos os blocos do arquivo ficam guardados em bloco chamado bloco
                  de indice</p>
                <a href="#" class="btn btn-primary">Simulador</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row albuns animacao-img">
            <div class="col-md-4 ">
              <img src="img/fila-aponta.png" class="img-fluid" width="180">
            </div>
            <div class="col-md-8">
              <img src="img/fila-indices.png" class="img-fluid" width="284">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Fim -->
  <!-- Fim ALOCAÇÃO INDEXADA -->


  <!-- ' GERENCIADOR DE ARQUIVOS ' -->
  <section class="caixa">
    <div class="row justify-content-center gx-1">
      <div class="col-sm-10">
        <div class="row">Gerenciador de Arquivos</div>
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <div class="row" id="container-tabela">
                  <table class="table table-hover" id="ac-tabela">
                    <thead>
                      <tr>
                        <th scope="col">Bloco da memória#️⃣</th>
                        <th scope="col">Arquivo📁 </th>
                        <th scope="col">Deletar🗑️</th>
                      </tr>
                    </thead>
                    <tbody id="ac-tbody">
                      <th>Vazio</th>
                      <td>Crie uma memória</td>
                      <td></td>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 bg-light">
            <div class="row">
              <div class="col-sm-12">
                <div class="row justify-content-end">
                  <label for="tipoAlocacao">Tipo de Alocação:</label>
                  <select name="tipoAlocacao" id="tipo_alocacao">
                    <option value="/alocacaoContigua">Contígua</option>
                    <option value="/alocacaoEncadeada">Encadeada</option>
                    <option value="/alocacaoIndexada">Indexada</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">Criar uma memória:</div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="row">
                          <input type="number" class="container" name="tamanho_memoria"
                            placeholder="Blocos de memória"></input>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="row">
                          <button id="criar_memoria" type="submit" class="btn btn-primary"> Enviar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">Criar um Arquivo:</div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="row">
                          <input type="number" class="container" name="tamanho_arquivo"
                            placeholder="Tamanho do arquivo"></input>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="row">
                          <button type="submit" class="btn btn-primary" id="criar_arquivo"> Enviar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="container my-3 alert alert-danger" id="caixaDeErro">
                        Erro</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>
    <hr>
  </section>
  <!-- ' DEFINIÇÕES ' -->
  <section class="caixa bloco-definicoes" id="bloco-definicoes">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="img/brand.png" class="img-fluid">
          <h4>Arquivos</h4>
          <p>O Sistema de arquivos é a parte visível de um Sistema Operacional, manipular arquivos é uma atividade
            comum
            dos usuarios, devendo ocorrer de maneira uniforme</p>
        </div>
        <div class="col-md-4"><img src="img/tipos-de-arquivos.png" class="img-fluid" width="256" height="256">
          <h4>Tipos de Arquivos</h4>
          <p>Arquivos são constituidos de informações logicas e relacionadas. Definimos os arquivos em duas partes,
            o
            nome e o tipo de arquivo. Texto.txt, index.html</p>
        </div>
        <div class="col-md-4"><img src="img/organizacao-arquivos.png" class="img-fluid" width="256" height="256">
          <h4>Organização dos Arquivos</h4>
          <p>A organização consiste no modo como os dados estão internamente armazenados, sua estrutura pode variar
            dependendo do tipo de informação do arquivo</p>
        </div>
      </div>

    </div>

  </section>

  <!-- ' RODAPÉ ' -->
  <footer>
    <div class="container" id="sobre">
      <div class="row">
        <div class="col-md-6">
          <h4>Simuladores</h4>
          <ul class="navbar-nav">
            <li><a href=""><span class="cor-texto">Alocação Contigua</span></a>
            </li>
            <li><a href=""><span class="cor-texto">Alocação Encadeada</span></a>
            </li>
            <li><a href=""><span class="cor-texto">Alocação Indexada</span></a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Membros da Equipe</h4>
          <ul class="navbar-nav">
            <li><a href="https://github.com/caioalmeida08" target="_blank"><span class="cor-texto">Caio</span></a><a
                href="https://github.com/caioalmeida08" target="_blank"><img src="img/git.png" width="20" height="20"
                  class="img-fluid ml-2"></a>
            </li>
            <li><a href="https://github.com/LuanF11" target="_blank" ><span class="cor-texto">Luan</span></a><a href="https://github.com/LuanF11"
                target="_blank"><img src="img/git.png" width="20" height="20" class="img-fluid ml-2"></a>
            </li>
            <li><a href="https://github.com/Danilo259" target="_blank"><span class="cor-texto">Danilo</span> <a href="https://github.com/LuanF11"
              target="_blank"><img src="img/git.png" width="20" height="20" class="img-fluid ml-2"></a></a>
            </li>
            <li><a href="https://github.com/kaykBr" target="_blank"><span class="cor-texto">Kayky</span> <a href="https://github.com/LuanF11"
                  target="_blank"><img src="img/git.png" width="20" height="20" class="img-fluid ml-2"></a></a>
            </li>
            <li><a href=""><span class="cor-texto">Eduardo</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Fim Rodapé -->

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


  <script src="/js/index.js"></script>

  <script>
    $(() => {
      $("#caixaDeErro").hide()
    })
  </script>
</body>

</html>